<!doctype html>
<html lang="en">
    <div class = "row">
        <div "col-sm-8 col-sm-offset-2">
                <ul>    
                    {{#each posts}}
                    <li class="list-group-item">
                        <div class="lead"><a href="/r/{{this.subreddit}}/posts/{{this._id}}">{{this.title}}</a></div>
                         <div class="text-right">
                            <a href="/r/{{this.subreddit}}">r/{{this.subreddit}}</a>
                         </div>
                        <a ref="{{this.url}}" target="_blank">{{this.url}}</a>
                    </li>
                    {{/each}}
                </ul>
        </div>
    </div>
</html>