<!doctype html>
<html lang ="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vong.it</title>
    </head>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{{singlePost.url}}" class="lead">{{singlePost.title}}</a>
            <p>{{singlePost.author.username}}</p>
            <p>{{singlePost.summary}}</p>
             <form action="/posts/{{singlePost._id}}/comments" method="post">
                <textarea class='form-control' name="content" placeholder="Comment"></textarea>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <div class = "row">
        {{#each singlePost.comments}}
            {{> post-comments comment=this postId=../singlePost._id subreddit=../singlePost.subreddit}}
        {{/each}}
        </div>
    </div>
</html>